@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("font-awesome-4.7.0/css/font-awesome.min.css")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("sb-admin/css/sb-admin-2.min.css")">

        <link rel="stylesheet" href="@routes.Assets.versioned("jquery/plugin/metisMenu_2_7_0/metisMenu.min.css")">

        <script type='text/javascript' src='@routes.Assets.versioned("jquery/jquery-3.2.1.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("jquery/plugin/metisMenu_2_7_0/metisMenu.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("bootstrap/js/bootstrap.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("sb-admin/js/sb-admin-2.min.js")'></script>
    </head>
    <body>
        <div id="wrapper" class="in">
            @content
        </div>
        @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    </body>
</html>
